networks:
  net-northwind:
    driver: bridge
services:
  mysql:
    container_name: mysql_northwind
    image: mysql:latest
    ports:
      - "${DB_PORT}:3306"
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    volumes:
      - ./src/db/northwind.sql:/docker-entrypoint-initdb.d/northwind.sql
      - ./mysql_data:/var/lib/mysql

    networks:
      - net-northwind
    
  redis:
    container_name: redis_northwind
    image: bitnami/redis:latest
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    ports:
      - "${REDIS_PORT}:6379"
    networks:
      - net-northwind
  chroma:
    container_name: chroma_northwind
    image: chromadb/chroma:latest
    environment:
      - IS_PERSISTENT=TRUE
      - PERSIST_DIRECTORY=/data
    ports:
      - ${CHROMA_PORT}:8000
    networks:
      - net-northwind
    volumes:
      - ./src/db/chroma:/data